<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Submit our Data</h1>
    <form action="/show/<% items._id %>?_method=PUT" method="post">
        <label>First name</label>
        <input type="text" name="fname" value="<%= items.fname %> "><br><br>
        
        <label>Last name</label>
        <input type="text" name="lname" value="<%= items.lname %> " ><br><br>

        <label>Age</label>
        <input type="number" name="age" value="<%= items.age %> "><br><br>

        <label>Email</label>
        <input type="email" name="email" value="<%= items.email %> "><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>